<html>
<body>
    <div class="embed-responsive embed-responsive-4by9">
    <!-- ###YOUTUBE### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
        <div class="embed-responsive-item">
            <object type="text/html" data="http://www.youtube-nocookie.com/embed/###VIDEO_ID###"></object>
        </div>
    </div>
    <!-- ###YOUTUBE### end -->
    <!-- ###VIMEO### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
        <div class="embed-responsive-item">
            <object type="text/html" data="http://player.vimeo.com/video/###VIDEO_ID###"></object>
        </div>
    </div>
    <!-- ###VIMEO### end -->
    <!-- ###CLIPFISH### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
        <div class="embed-responsive-item">
            <object type="text/html" data="http://www.clipfish.de/embed_image/?vid=###VIDEO_ID###"></object>
        </div>
    </div>
    <!-- ###CLIPFISH### end -->
    <!-- ###DAILYMOTION### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
        <div class="embed-responsive-item">
            <object type="text/html" data="http://www.dailymotion.com/embed/video/###VIDEO_ID###"></object>
        </div>
    </div>
    </div>
    <!-- ###DAILYMOTION### end -->
    <!-- ###WAT### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
        <div class="embed-responsive-item">
            <object type="text/html" data="http://www.wat.tv/embedframe/###VIDEO_ID###"></object>
        </div>
    </div>
    <!-- ###WAT### end -->
    <!-- ###METACAFE### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
        <div class="embed-responsive-item">
            <object type="text/html" data="http://www.metacafe.com/embed/###VIDEO_ID###"></object>
        </div>
    </div>
    <!-- ###WAT### end -->
    </div>
</body>
</html>
