<html>
<body>
    <div class="embed-responsive embed-responsive-4by9">
    <!-- ###YOUTUBE### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
        <iframe class="embed-responsive-item" src="http://www.youtube-nocookie.com/embed/###VIDEO_ID###?rel=0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <!-- ###YOUTUBE### end -->
    <!-- ###VIMEO### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
        <iframe src="http://player.vimeo.com/video/###VIDEO_ID###" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <!-- ###VIMEO### end -->
    <!-- ###CLIPFISH### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
        <iframe src='http://www.clipfish.de/embed_image/?vid=###VIDEO_ID###' name='Clipfish Embedded Image' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <!-- ###CLIPFISH### end -->
    <!-- ###KIKAVU### begin -->
        <div class="embed-responsive embed-responsive-###VIDEO_RATIO###"><embed type="application/x-shockwave-flash" src="http://kikavu.fr/player/jw_smart/player-viral.swf" width="###WIDTH###" height="###HEIGHT###" style="undefined" id="base" name="base" bgcolor="#FFFFFF" quality="high" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="provider=http&amp;image=http://kikavu.fr/files/thumbs/###VIDEO_ID###-big.jpg&amp;file=http://kikavu.fr/files/videos/###VIDEO_ID###.flv"></div>
    <!-- ###KIKAVU### end -->       
    <!-- ###DAILYMOTION### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
            <iframe src="http://www.dailymotion.com/embed/video/###VIDEO_ID###" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <!-- ###DAILYMOTION### end -->
    <!-- ###WAT### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
            <iframe src="http://www.wat.tv/embedframe/###VIDEO_ID###" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <!-- ###WAT### end -->
    <!-- ###METACAFE### begin -->
    <div class="embed-responsive embed-responsive-###VIDEO_RATIO###">
            <iframe src="http://www.metacafe.com/embed/###VIDEO_ID###" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
    <!-- ###WAT### end -->
    </div>
</body>
</html>
