<html>
<body>
    <div class="tx-newsmovie-pi1">
    <!-- ###YOUTUBE### begin -->
        <iframe src="http://www.youtube.com/embed/###VIDEO_ID###?rel=0" width="###WIDTH###" height="###HEIGHT###" frameborder="0" allowfullscreen></iframe>
    <!-- ###YOUTUBE### end -->
    <!-- ###VIMEO### begin -->
        <iframe src="http://player.vimeo.com/video/###VIDEO_ID###" width="###WIDTH###" height="###HEIGHT###" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <!-- ###VIMEO### end -->
    <!-- ###CLIPFISH### begin -->
        <iframe src='http://www.clipfish.de/embed_image/?vid=###VIDEO_ID###' name='Clipfish Embedded Image' width='###WIDTH###' height='###HEIGHT###' marginheight='0' marginwidth='0' frameborder='0' scrolling='no'></iframe>
    <!-- ###CLIPFISH### end -->
    <!-- ###KIKAVU### begin -->
        <div><embed type="application/x-shockwave-flash" src="http://kikavu.fr/player/jw_smart/player-viral.swf" width="###WIDTH###" height="###HEIGHT###" style="undefined" id="base" name="base" bgcolor="#FFFFFF" quality="high" allowfullscreen="true" allowscriptaccess="always" wmode="opaque" flashvars="provider=http&amp;image=http://kikavu.fr/files/thumbs/###VIDEO_ID###-big.jpg&amp;file=http://kikavu.fr/files/videos/###VIDEO_ID###.flv"></div>
    <!-- ###KIKAVU### end -->       
    <!-- ###DAILYMOTION### begin -->
            <iframe src="http://www.dailymotion.com/embed/video/###VIDEO_ID###" width="###WIDTH###" height="###HEIGHT###" frameborder="0"></iframe>
    <!-- ###DAILYMOTION### end -->
    <!-- ###WAT### begin -->
            <iframe src="http://www.wat.tv/embedframe/###VIDEO_ID###" width="###WIDTH###" height="###HEIGHT###" frameborder="0"></iframe>
    <!-- ###WAT### end -->
    </div>
</body>
</html>
